
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
}
body a{
	text-decoration: none;
    padding: 1em;
    color: black;
}

a:hover{
	text-decoration: none;
	background-color: rgba(255,255,255,0.2);
	color: black;
}
/*navigation bar controls*/
nav{
	display: flex;
	flex-direction: row;
	background-color:
}
.logo{
	width: 20%;
}
.logo_width{
	width: 15%;
}
nav div:nth-of-type(2){
	width: 80%;
	display: inline-flex;
	justify-content: flex-end;
	padding: 1em;
	
}
nav div:nth-of-type(2) div a {
  color: white;
}
.sign{
	border: white 1px solid;
	border-radius: 5px;
}
.get_started_scroll{
	background-color: rgb(255, 158, 48);
    border-radius: 5px;
}
.get_started{
  display: none;
  background-color: rgb(255, 158, 48);
  border-radius: 5px;
}
ul{
	list-style: none;
	margin:  0;
    padding: 0;
}
/* end of navigation bar controls*/

.hero{
	background-image: url("../images/home-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* contanier within hero*/
.container{
	background-color: white;
	text-align: center;
	padding: 3%;
}
.container button{
	background-color: #ff8330;
	margin:0.5em;
}
.container h3{`
	font-size: 2.0em;
}
.container p{
	color:#777777;
    font-size: 1.0em;
}

/* end for container within hero*/
@media(min-width: 650px){
.fa-bars{
	display: none;
}
.hero{
	padding: 10%;
}
.container{
	width: 70%
}
.form-control{
	display: inline-block;
	font-size: 0.8em;
	max-width: 30%;
}
}
@media(max-width: 875px){
	.get_started_scroll
	{
      display: none;
    }
}

@media(max-width: 675px){
	nav div:nth-of-type(2) div{
    display: none;
    }
    .hero{
    	padding: 30% 2.5%;
    }
    .fa-bars{
    	display: flex;
    }
    .fixed-top{
    background-color: #00a2e2;
    }
    .container{
	width: 100%
    }
    .form-control{
    margin: 0 auto;	
	font-size: 0.8em;
	max-width: 60%;
}
}
a{
	text-decoration: none;
}
/*navigation part ends here*/
h3{
	color: #00a2e2;
}


.two{
	background-image: url("../images/sb-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5%;
}
.two h2{
  color: white;
  font-size: 6vmin;
}
.two p{
	width: 80%;
	font-size: 3.5vmin;
	color: white;
	margin-left: 10%;
}


.icon{
	width: 130px;
	height: 130px;
	float: left;
}
.devices{
	width: 100%;
}


.control-block{
	background-color: white;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
}
.control-block a{
	color: black;
	margin-left: 2%;
	text-decoration: none;
}
.control-block a:hover{
	border-bottom: 2px solid black;

}
.row{
	width: 90%;
	margin:0 auto;
}

@media(max-width: 575px){
	.row{
		padding: 10%;
	}
}

.card{
	height: 260px;
	    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
@media(min-width: 992px){
	.card:nth-of-type(1){
	position: relative;
	right:10px;
}
.card:nth-of-type(3){
	position: relative;
	left: 10px;
}
.card:nth-of-type(4){
	position: relative;
	left:20px;
}
.card:nth-of-type(5){
	position: relative;
	right:10px;
}
.card:nth-of-type(7){
	position: relative;
	left: 10px;
}
.card:nth-of-type(8){
	position: relative;
	left:20px;
}
}
@media(max-width: 992px) and (min-width: 575px){
	.card:nth-of-type(even){
		position: relative;
		left: 10px;
	}
}





.four{
	background-color: white;
	margin-top: 0;
}
.four .row{
  width: 100%;
}
.block{
 padding: 5%;
}
.block h2{
	margin-top: 0.5em;
}
.last_block p{
	margin-top: 2em;
}
@media(max-width: 575px){
	.block p,h2{
		font-size: 1em;
	}
	.block h2{
		font-weight: bold;
	}
}
@media(max-width: 468px){
		.block p,h2{
		font-size: 0.70em;
	}
}





footer{
  background-color: white;
  color: rgb(92, 92, 98);
  padding-left: 5%;
}
footer .row{
  width: 100%;
}
.footer_links,.footer_down{
	display: flex;
	flex-direction: row;
	color: #5c5c62;
}

.footer_links div:nth-of-type(2){
	margin-left: 10%;
}
.footer_links div ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_down p{
	margin-right: 5%;
}
.footer_down span{
	margin-left: 1em;
}
.footer_copyright{
	margin-top: 2%;
	padding: 3%;
}
@media(min-width: 575px){
	.footer_copyright{
	   border-top: 1px solid lightgray;
	}
}
@media(max-width: 665px){
	.footer_off_display{
		display: none;
	}
}




.scroll{
	background-color: #00a2e2;
}
